@import "./fonts.css";

:root {
  --main-font-family: "Hack-Reg";
  --main-bg-color: #242424;
  --darker-bg-color: black;
  --lighter-bg-color: #363535;
  --main-font-color: greenyellow;
  --main-line-color: greenyellow;
  --other-line-color: orange;

  --basket-base-height: 80px;

  font-size: 11px;
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  background-color: var(--main-bg-color);
  /* border-color: var(--main-line-color); */
}

:nth-child(even),
:nth-child(odd) {
  /* padding: 0.1rem; */
  margin: 0.1rem;
  /* border-color: var(--main-line-color); */
  border-style: dashed;
  border-width: 0.5px;

  /* color: greenyellow; */
}

:nth-child(odd) {
  /* border-color: violet; */
}

:nth-child(even) {
  /* border-color: greenyellow; */
}

.header {
}

.header-top {
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  background-color: orange;
}

.header-bottom {
  margin-bottom: 1rem;
  display: flex;
}

.restaurant-name {
  font-size: 2rem;
}

.restaurant-description {
  font-size: 1.3rem;
}

.restaurant-photo {
  object-fit: cover;
  width: 100%;
  height: 180px;
}

.restaurant-description {
  font-size: 1.3rem;
}

.category-section {
  margin-top: 2rem;
}

.category-name {
  font-size: 1.8rem;
}

.meal-box {
  min-height: 150px;
  display: flex;
  margin-bottom: 5px;
  padding: 10px;
}

.meal-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meal-title {
  font-size: 1.2rem;
}
.meal-description {
}

.meal-details {
  /* background: goldenrod; */
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.meal-price {
  font-size: 1.3rem;
}

.meal-photo-container {
  display: flex;
  align-items: center;
}

.meal-popular {
  color: orange;
}

.meal-popular::before {
  content: "⭐";
}

.meal-photo {
  object-fit: cover;
  min-width: 100px;
  width: 100px;
  height: 100px;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: var(--basket-base-height);
  text-align: start;
}

main {
  /* margin-bottom: 80px; */
}

.basket-section {
  width: 100%;
  height: var(--basket-base-height);

  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0;
}

.basket-button {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Rules */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Rules */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Rules */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Rules */
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Rules */
}
